<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="pers.zyc.tools.zkclient" level="info" additivity="true"/>
    <logger name="org.apache.zookeeper" level="warn" additivity="true"/>

    <root level="error">
        <appender-ref ref="console"/>
    </root>

</configuration>
